@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /*//////////////////////////////////////////////////////////////
                             COLOR PALETTE
    //////////////////////////////////////////////////////////////*/
  --color-black: oklch(0.1556 0.0017 17.34);

  /* Neutral Colors */
  --color-neutral-50: oklch(0.9851 0 0);
  --color-neutral-100: oklch(0.9702 0 0);
  --color-neutral-200: oklch(0.9491 0 0);
  --color-neutral-300: oklch(0.9097 0 0);
  --color-neutral-400: oklch(0.839 0 0);
  --color-neutral-500: oklch(0.6467 0 0);
  --color-neutral-600: oklch(0.4128 0 0);
  --color-neutral-700: oklch(0.2393 0 0);
  --color-neutral-800: oklch(0.18 0 0);
  --color-neutral-900: oklch(0.12 0 0);

  /* Primary Colors */
  --color-primary-50: oklch(0.9764 0.0133 233.74);
  --color-primary-100: oklch(0.9259 0.0268 233.98);
  --color-primary-200: oklch(0.85 0.052 240.39);
  --color-primary-300: oklch(0.708 0.0698 244.88);
  --color-primary-400: oklch(0.5376 0.0709 250.59);
  --color-primary-500: oklch(0.3212 0.0597 254.94);
  --color-primary-600: oklch(0.277 0.0595 258.61);
  --color-primary-700: oklch(0.2381 0.0582 260.78);
  --color-primary-800: oklch(0.1983 0.0545 264.64);
  --color-primary-900: oklch(0.1715 0.0518 264.51);

  /* Auxiliary Colors */
  --color-auxiliary-50: oklch(0.9939 0.0082 91.48);
  --color-auxiliary-100: oklch(0.954 0.0361 87.79);
  --color-auxiliary-200: oklch(0.9065 0.068 83.56);
  --color-auxiliary-300: oklch(0.8167 0.0907 77.5);
  --color-auxiliary-400: oklch(0.713 0.0988 71.62);
  --color-auxiliary-500: oklch(0.5776 0.1083 63.27);
  --color-auxiliary-600: oklch(0.4995 0.102 56.76);
  --color-auxiliary-700: oklch(0.4284 0.0948 51.86);
  --color-auxiliary-800: oklch(0.3571 0.0868 46.06);
  --color-auxiliary-900: oklch(0.3047 0.0805 42.21);

  /* Semantic Danger Colors */
  --color-danger-50: oklch(0.9911 0.0043 17.23);
  --color-danger-100: oklch(0.9705 0.0129 17.38);
  --color-danger-200: oklch(0.9568 0.0221 7.17);
  --color-danger-300: oklch(0.8913 0.0582 10.39);
  --color-danger-400: oklch(0.7735 0.1109 19.91);
  --color-danger-500: oklch(0.6894 0.1539 21.44);
  --color-danger-600: oklch(0.6572 0.2067 24.88);
  --color-danger-700: oklch(0.6112 0.2242 26.44);
  --color-danger-800: oklch(0.48 0.205 26.44);
  --color-danger-900: oklch(0.36 0.185 26.44);

  /* Semantic Warning Colors */
  --color-warning-50: oklch(0.9947 0.0045 78.3);
  --color-warning-100: oklch(0.9838 0.015858 82.7923);
  --color-warning-200: oklch(0.9766 0.030054 90.3236);
  --color-warning-300: oklch(0.9409 0.074 89.6);
  --color-warning-400: oklch(0.9072 0.1167 89.52);
  --color-warning-500: oklch(0.8547 0.1655 86.09);
  --color-warning-600: oklch(0.8072 0.1689 74.44);
  --color-warning-700: oklch(0.7743 0.1709 65.33);
  --color-warning-800: oklch(0.64 0.1609 65.33);
  --color-warning-900: oklch(0.52 0.1409 65.33);

  /* Semantic Success Colors */
  --color-success-50: oklch(0.9942 0.0041 157.18);
  --color-success-100: oklch(0.978 0.0099 164.87);
  --color-success-200: oklch(0.9558 0.0206 161.48);
  --color-success-300: oklch(0.8898 0.0474 161.68);
  --color-success-400: oklch(0.8195 0.0772 161.19);
  --color-success-500: oklch(0.7522 0.1089 160.17);
  --color-success-600: oklch(0.7036 0.1314 158.87);
  --color-success-700: oklch(0.6137 0.1427 157.38);
  --color-success-800: oklch(0.48 0.1327 157.38);
  --color-success-900: oklch(0.36 0.115 157.38);

  /* Semantic Info Colors */
  --color-info-50: oklch(0.9889 0.0058 239.82);
  --color-info-100: oklch(0.9759 0.01197 247.9493);
  --color-info-200: oklch(0.9546 0.023 246.04);
  --color-info-300: oklch(0.8854 0.0581 250.06);
  --color-info-400: oklch(0.8162 0.0958 249.98);
  --color-info-500: oklch(0.6997 0.1614 252.85);
  --color-info-600: oklch(0.6231 0.188 259.81);
  --color-info-700: oklch(0.5717 0.1832 262.89);
  --color-info-800: oklch(0.45 0.1732 262.89);
  --color-info-900: oklch(0.34 0.1532 262.89);

  /*//////////////////////////////////////////////////////////////
                               TYPOGRAPHY
    //////////////////////////////////////////////////////////////*/
}

@theme inline {
  --font-roboto: "Roboto", sans-serif;
  --font-family-base: var(--font-roboto);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--color-neutral-50);
  --sidebar-foreground: var(--color-neutral-800);
  --sidebar-primary: var(--color-neutral-700);
  --sidebar-primary-foreground: var(--color-neutral-50);
  --sidebar-accent: var(--color-neutral-100);
  --sidebar-accent-foreground: var(--color-neutral-800);
  --sidebar-border: var(--color-neutral-300);
  --sidebar-ring: var(--color-neutral-500);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    font-family: var(--font-roboto), sans-serif;
  }

  body {
    @apply bg-neutral-100 text-black;
  }
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
